    - job_name: 'etcd'
      scheme: https
      tls_config:
        ca_file: /etc/etcd/ssl/ca.pem
        cert_file: /etc/etcd/ssl/node-{{ prometheus_target_node }}.pem
        key_file: /etc/etcd/ssl/node-{{ prometheus_target_node }}-key.pem
      kubernetes_sd_configs:
      - api_servers:
        - https://kubernetes.default.svc
        in_cluster: true
        role: node
      relabel_configs:
      - action: labelmap
        regex: __meta_kubernetes_node_label_(.+)
      - source_labels: [__address__]
        regex: '(.*):10250'
        replacement: '${1}:2379'
        target_label: __address__
